<div id="footer-container" fxLayout="row" fxLayoutAlign="space-evenly top">
  <div class="column address">
    <h2>Adresa muzeja</h2>
    <p>Njegoševa 15, 11000 Beograd-Vračar</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.7996537628896!2d20.464551815217465!3d44.80527147909872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7aa7178a96a9%3A0x65f18f7b0f155cec!2z0IrQtdCz0L7RiNC10LLQsCAxNSwg0JHQtdC-0LPRgNCw0LQgMTEwMDA!5e0!3m2!1ssr!2srs!4v1641815172782!5m2!1ssr!2srs"
      width="250" height="188" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="column contact">
    <h2>Kontaktirajte nas</h2>
    <p>tel. 0116014502</p>
    <p>mobilni +381631546456</p>
    <p>Email: <a href="mailto:milica.bogosavljevic.18@singimail.rs">milica.bogosavljevic.18@singimail.rs</a></p>
  </div>
  <div class="column copyright">
    <h2>Copyright</h2>
    <p>&copy; {{ currentYear }} Milica Bogosavljević & Miloš Jeknić.</p>
    <p>Sva prava rezervisana. Sajt nije za komercijalnu
      upotrebu.
    </p>
  </div>
</div>
