#footer-container {
    background-color: #000000;
    width: 100%;
    height: auto;
    color: white;
  }
  
  .column {
    width: max-content;
  }
  
  .address p {
    font-size: 18px;
  }
  
  .column a {
    color: #e75b1e;
    text-decoration: none;
  }
  