<div id="about" class="about-glavno" fxLayoutAlign="center center">
    <div class="container">
        <div id="tekst-o-nama">
            <h1>O NAMA</h1>
            <p> Inovativnim pristupom jedinstvenim zbirkama i sačuvanim svedočanstvima, posetiocima nudimo
                autentične uvide, saznanja i doživljaje kroz izlagačke, edukativne i interaktivne programe.
            </p>
            <p> Muzej grada Beograda je otvorena institucija koja savremenom interpretacijom prošlosti podstiče različite
                aktere da aktivno sagledavaju sadašnjost. Misija nam je da budemo mesto otvorenog dijaloga, da
                razmenjujemo znanja i iskustva o društvenim i kulturnim pojavama 20. veka sa svim ustanovama,
                organizacijama i pojedincima zainteresovanim za pitanja srpskog nasleđa i beogradske
                prošlosti.
            </p>
        </div>
    </div>
</div>