img{
    width: 200px;
    border-radius: 35px;
    transition: width linear 200ms;
}
h2, h3{
    margin-bottom: 0;
}
li{
    list-style-type: none;
}
h1{
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.exhibition-info img:hover {
    width: 250px;
}