<mat-toolbar>
  <div class="nav-list" fxFlex fxLayoutAlign="start center">
    <ul class="list-items" fxLayout="row" fxLayoutGap="35px">
      <li><a routerLink="/home" routerLinkActive="active">POČETNA</a></li>
      <li><a routerLink="/view" routerLinkActive="active">POSTAVKE</a></li>
      <li><a routerLink="/about" routerLinkActive="active">O NAMA</a></li>
      <li><a style="cursor: pointer;" (click)="toFooter()">KONTAKT</a></li>
    </ul>
  </div>
  <div *ngIf="!this.userService.isSignedIn" class="nav-list" fxFlex fxLayoutAlign="center center">
    <ul class="list-items" fxLayout="row" fxLayoutGap="35px">
      <li fxLayoutGap="5px">
        <a routerLink="/signup" routerLinkActive="active">REGISTRACIJA</a>
      </li>
      <li fxLayoutGap="5px">
        <a routerLink="/login" routerLinkActive="active">PRIJAVA</a>
      </li>
    </ul>
  </div>
  <div id="logo-buttons" fxLayoutAlign="space-evenly center" *ngIf="this.userService.isSignedIn">
    <div>
      <a routerLink="/favorites" routerLinkActive="active">OMILJENE POSTAVKE</a>
    </div>
    <div fxLayoutGap="10px">
      <button mat-raised-button color="primary" (click)="openProfile(this.userService.currentUser.id)">
        {{ this.userService.currentUser.email }}
      </button>
      <button mat-raised-button color="warn" (click)="signOut()">
        Odjava
      </button>
    </div>
  </div>
  <div id="cart" fxLayoutAlign="center center" *ngIf="this.userService.isSignedIn">
    <mat-icon><a routerLink="/planner" routerLinkActive="active">edit_calendar</a></mat-icon>
    <mat-icon><a routerLink="/cart" routerLinkActive="active">shopping_cart</a></mat-icon>
  </div>
</mat-toolbar>
