.list-items {
    list-style-type: none;
    font-size: 25px;
  }
  
  .list-items a, #logo-buttons a, #cart a {
    text-decoration: none;
    color: black;
  }
  
  .list-items a:hover,
  #logo-buttons a:hover,
  .active {
    font-weight: bold;
  }

  #cart a:hover {
    color: #e75b1e;
    
  }

  #cart mat-icon{
    font-size: 30px;
    margin-right: 40px;
  }

  .mat-toolbar {
    font-family: 'Alegreya', serif;
  }

  #logo-buttons {
    width: 40%;
  }