<div style="background-color: white; min-height: 300px;">
  <div>
    <button class="back-btn" mat-raised-button color="warn" (click)="backToPlanner()">
      <mat-icon>arrow_back</mat-icon>Povratak na planer
    </button>
    <h1>EKSPONATI</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" style="width: auto;"
    *ngFor="let exhibition of this.exhibitionSource.data">
    <mat-toolbar>
      <div class="nav-list" fxFlex fxLayoutAlign="start center">
        <ul class="list-items" fxLayout="row" fxLayoutGap="35px">
          <li><a routerLinkActive="active">{{ exhibition.title | uppercase }}</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <section class="exhibition-info" fxLayout="column" fxLayoutAlign="center center"
      *ngFor="let exhibit of exhibition.exhibits">
      <img *ngIf="exhibit.exhibitType == 'Knjige' " src="../../assets/knjige.jpg" alt="knjige">
      <img *ngIf="exhibit.exhibitType == 'Novac' " src="../../assets/novac.jpg" alt="knjige">
      <img *ngIf="exhibit.exhibitType == 'Kulturno nasleđe' " src="../../assets/nakit.jpg" alt="knjige">
      <img *ngIf="exhibit.exhibitType == 'Slike' " src="../../assets/slika.jpg" alt="knjige">
      <img *ngIf="exhibit.exhibitType == 'Dokumenti' " src="../../assets/akt.jpg" alt="knjige">
      <!-- Informacije o proizvodima -->
      <h2>{{ exhibit.title }}</h2>
      <ul>
        <li>Tip eksponata: {{ exhibit.exhibitType }}</li>
        <li>Opis: {{ exhibit.description }}</li>
        <li>Procenjeno vreme obilaska: {{ exhibit.timeToComplete | number }} minut(a)</li>
        <li>Zemlja porekla: {{ exhibit.countryOfOrigin }}</li>
        <li style="margin-top: 5px;" fxLayoutAlign="center center" fxLayoutGap="5px" fxLayout="column">
          <!-- Broj zvezdica se popunjava prema izračunatoj aritmetičkoj sredini ocena zadatih od strane korisnika-->
          <div fxLayout="row" fxLayoutAlign="center center">
            <star-rating [value]="exhibit.rating" [totalstars]="5" checkedcolor="#e75b1e" uncheckedcolor="gray"
              size="24px" (rate)="this.ratingService.onRate($event, exhibit)">
            </star-rating>
            <p>({{ exhibit.rating }} / 5) ({{ exhibit.numberOfPersonsRated }})</p>
          </div>
        </li>
      </ul>
      <h2>Cena: {{ exhibit.price | number }} din.</h2>
    </section>
  </div>
</div>